{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />

  {% include 'partials/head_c.html' %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="{% static 'landing/landing_style.css' %}" />
  <link rel="stylesheet" href="{% static 'landing/landing.css' %}" />

  <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />
  <script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>

  <style>
    /* #preloader{
      background: #000 url(../../../static/preloader.gif) no-repeat center center;
      background-size: 10%;
      width: 100%;
      height: 100vh;
      position: fixed;
      z-index: 1000;
    } */

    /* .slider {
      position: relative;
    }
    
    .prev, .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      border: none;
      padding: 10px;
      cursor: pointer;
      z-index: 2;
    }
    
    .prev {
      left: 0;
    }
    
    .next {
      right: 0;
    } */




    .slider {
      position: relative;
    }

    .prev,
    .next {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      border: none;
      padding: 10px;
      cursor: pointer;
      z-index: 2;
    }

    .prev {
      left: 0;
    }

    .next {
      right: 0;
    }

    .intro-container {
      max-width: 850px;
      width: 850px;
      height: auto;
    }

    .hiw-element-placeholder {
      background: none;
      height: auto !important;
      border: 1px solid #d9d9d9;
      display: flex;
      justify-content: center;
      align-items: center;
    }


    .video-placeholder {
      height: auto;
      background-color: none;

    }

    .hiw-element {
      /* display: -webkit-box; */
      /* display: -ms-flexbox; */
      display: flex;
      flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      /* -ms-flex-direction: column-reverse; */
      /* flex-direction: column-reverse; */
      gap: 40px;
    }


    .hiw-element-text-container {
      width: 800px;

    }

    .hiw-element-placeholder {
      width: 800px;

    }

    .price-promo {
      color: rgba(0, 0, 0, 0.7);
    }

    .sep-border {
      border-bottom: 1px solid #ccc;
      margin: 0 auto;
      margin-top: 36px;
      width: 800px;
    }

    @media screen and (max-width: 600px) {
      .hiw-element-text-container {
        width: 100%;
        margin-top: 12px;

      }
      .hiw-element{
        flex-direction: column-reverse;
      }
    }

    @media screen and (max-width: 600px) {
      .hiw-element-placeholder {
        width: 100%;
      }
      .hiw-element-text{
        margin-top: 10px !important;
      }
      .sep-border{
        margin-top: 0px;
      }
      .hiw-element{
        gap: 0px !important;
      }
      .howitworks{
        padding-top: 0px !important;
        height: auto;
      }
      .hiw-element-text-container{
        margin-bottom: 40px;
      }

    }
  </style>
</head>

<body>
  <!-- <div id="preloader"></div> -->
  <div class="background">
    <img src="{% static 'assets/background/Lines.svg' %}" alt="lines" class="lines" />
    <img src="{% static 'assets/background/Ellipse 2.svg' %}" alt="" class="ellipse2" />
  </div>

  {% include "vlc/frontend/includes/navbar.html" %}

  <div class="hero">
    <img src="{% static 'assets/background/Ellipse 2.svg' %}" alt="" class="ellipse2 heroellipse" />
    <img src="{% static 'assets/background/Ellipse 2.svg' %}" alt="" class="ellipse1" />

    <div class="top">
      <div class="typography">
        <h1 class="h1hero">Create<span class="highlight"> High-Converting Video Ads </span>Within An Hour – No
          Video Editor Required
        </h1>

        <p class="phero">
          Why leave your ad performance in someone else’s hands when you can do it yourself?<br>Introducing
          VideoCrafter.io – the fastest, easiest way to create scroll-stopping video ads <br> for Facebook,
          Instagram, YouTube, and TikTok – without needing a video editor.
        </p>
      </div>

      <div class="heroButton">
        <img src="{% static 'assets/icons/Arrow.svg' %}" alt="arrow" class="arrow" />
        <a href="#pricing" class="getStarted" id="heroButton">
          Get Started
          <img src="{% static 'assets/icons/arrow-right.svg' %}" alt="arrow-right" />
        </a>
      </div>
    </div>


    <div class="PlaceholderContainer">
      <div class="intro-container">
        <video id="intro-video" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
          data-setup='{ "fluid" : true }' width="100%" poster="{% static 'videos/home-video/intro-poster.png' %}">
          <source src="{% static 'videos/home-video/intro.mp4' %}" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>


  <div class="portfolio" id="Portfolio">
    <div class="portfoliotext mtg">
      <h2 class="for-marg">
        Why We Built
        <br />
        <span class="highlight">VideoCrafter.io</span>
      </h2>
      <p class="highlight-p for-margg">We Know How Frustrating It Can Be To Create High-Conversion Video Ads.</p>
      <p class="highlight-p for-margin">Here's Why</p>
    </div>
    <div class="portfolio-grid">
      <div class="portfolio-box">
        <div class="portfolio-text">
          <div class="portfolio-head">
            <h1>1</h1>
            <div class="border"></div>
          </div>
          <div class="sub-text">
            <h1>delays are costly</h1>
            <p>
              Waiting On Video Editors Can Take Days (Sometimes Weeks) - Slowing Down Your Campaigns And
              Hurting Your Bottom Line.
            </p>
          </div>
        </div>
      </div>

      <div class="portfolio-box">
        <div class="portfolio-text">
          <div class="portfolio-head">
            <h1>2</h1>
            <div class="border"></div>
          </div>
          <div class="sub-text">
            <h1>Missed Deadlines Hurt</h1>
            <p>
              Editors often disappear mid-project, leaving you scrambling for solutions.

            </p>
          </div>
        </div>
      </div>

      <div class="portfolio-box">
        <div class="portfolio-text">
          <div class="portfolio-head">
            <h1>3</h1>
            <div class="border"></div>
          </div>
          <div class="sub-text">
            <h1>Costs Add Up Fast</h1>
            <p>
              Hiring professionals for every ad is expensive – and revision fees only make it worse.
            </p>
          </div>
        </div>
      </div>

    </div>
    <div class="portfolio-bottom-text">
      <p>We were fed up relying on editors who couldn’t keep up, so we created VideoCrafter.io – a tool that puts
        you in control.</p>
    </div>


  </div>

  <div class="portfolio" id="Portfolio">
    <div class="portfoliotext">
      <h2>
        See What
        <br />
        <span class="highlight">VideoCrafter.io</span> Has Done
      </h2>
    </div>

    <div class="grid">
      <h2 class="subtitle">TikTok Ad Examples</h2>
      <div class="grid-container">
        <div class="grid-item">

          <video src="{% static 'videos/tiktok/tiktok1.mp4' %}" class="tiktok-video" controls></video>
        </div>
        <div class="grid-item">

          <video src="{% static 'videos/tiktok/tiktok2.mp4' %}" class="tiktok-video" controls></video>
        </div>
        <div class="grid-item">
          <video src="{% static 'videos/tiktok/tiktok3.mp4' %}" class="tiktok-video" controls></video>
        </div>
      </div>

      <h2 class="subtitle">Facebook/Instagram Ad Examples</h2>
      <div class="grid-container">
        <div class="grid-item">
          <video src="{% static 'videos/facebook/facebook1.mp4' %}" class="facebook-video" controls></video>
        </div>
        <div class="grid-item">
          <video src="{% static 'videos/facebook/facebook2.mp4' %}" class="facebook-video" controls></video>
        </div>
        <div class="grid-item">
          <video src="{% static 'videos/facebook/facebook3.mp4' %}" class="facebook-video" controls></video>
        </div>
      </div>

      <h2 class="subtitle">YouTube Ad Examples</h2>
      <div class="grid-container">
        <div class="grid-item">
          <video src="{% static 'videos/youtube/youtube1.mp4' %}" class="youtube-video" controls></video>
        </div>
        <div class="grid-item">
          <video src="{% static 'videos/youtube/youtube2.mp4' %}" class="youtube-video" controls></video>
        </div>
        <div class="grid-item">
          <video src="{% static 'videos/youtube/youtube3.mp4' %}" class="youtube-video" controls></video>
        </div>
      </div>
    </div>


    <div class="mobi-slider tiktok-slider">
      <h2 class="subtitle mobile-sub-head">TikTok Ad Examples</h2>
      <div class="slider">
        <button class="prev">&lt;</button>
        <div class="slides">
          <div class="slide">
            <div class="Placeholder-mob">

              <video id="tiktok-video-1" class="video-js vjs-default-skin vjs-big-play-centered tiktok-video" controls
                preload="auto" data-setup='{ "fluid" : true }' width="100%"
                poster="{% static 'videos/tiktok/snap/tk-1.png' %}">
                <source src="{% static 'videos/tiktok/tiktok1.mp4' %}" type="video/mp4" />
              </video>




            </div>
          </div>
          <div class="slide">
            <div class="Placeholder-mob">
              <video id="tiktok-video-2" class="video-js vjs-default-skin vjs-big-play-centered tiktok-video" controls
                preload="auto" data-setup='{ "fluid" : true }' width="100%"
                poster="{% static 'videos/tiktok/snap/tk-1.png' %}">
                <source src="{% static 'videos/tiktok/tiktok2.mp4' %}" type="video/mp4" />
              </video>


            </div>
          </div>
          <div class="slide">
            <div class="Placeholder-mob">
              <video id="tiktok-video-3" class="video-js vjs-default-skin vjs-big-play-centered tiktok-video" controls
                preload="auto" data-setup='{ "fluid" : true }' width="100%"
                poster="{% static 'videos/tiktok/snap/tk-1.png' %}">
                <source src="{% static 'videos/tiktok/tiktok3.mp4' %}" type="video/mp4" />
              </video>
            </div>
          </div>
        </div>
        <button class="next">&gt;</button>

        <div class="slider-dots">
          <span class="dot active"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
    </div>

    <div class="mobi-slider facebook-slider">
      <h2 class="subtitle mobile-sub-head">Facebook Ad Examples</h2>
      <div class="slider">
        <button class="prev">&lt;</button>
        <div class="slides">
          <div class="slide">
            <div class="Placeholder-mob">

              <video id="facebook-video-1" class="video-js vjs-default-skin vjs-big-play-centered facebook-video"
                controls preload="auto" data-setup='{ "fluid" : true }' width="100%"
                poster="{% static 'videos/facebook/snap/fb-1.png' %}">
                <source src="{% static 'videos/facebook/facebook1.mp4' %}" type="video/mp4" />
              </video>
            </div>
          </div>
          <div class="slide">
            <div class="Placeholder-mob">

              <video id="facebook-video-2" class="video-js vjs-default-skin vjs-big-play-centered facebook-video"
                controls preload="auto" data-setup='{ "fluid" : true }' width="100%"
                poster="{% static 'videos/facebook/snap/fb-1.png' %}">
                <source src="{% static 'videos/facebook/facebook2.mp4' %}" type="video/mp4" />
              </video>
            </div>
          </div>
          <div class="slide">
            <div class="Placeholder-mob">

              <video id="facebook-video-3" class="video-js vjs-default-skin vjs-big-play-centered facebook-video"
                controls preload="auto" data-setup='{ "fluid" : true }' width="100%"
                poster="{% static 'videos/facebook/snap/fb-1.png' %}">
                <source src="{% static 'videos/facebook/facebook3.mp4' %}" type="video/mp4" />
              </video>

            </div>

          </div>

        </div>
        <button class="next">&gt;</button>

        <div class="slider-dots">
          <span class="dot active"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
    </div>

    <div class="mobi-slider youtube-slider">
      <h2 class="subtitle mobile-sub-head">YouTube Ad Examples</h2>
      <div class="slider">
        <button class="prev">&lt;</button>
        <div class="slides">
          <div class="slide">
            <div class="Placeholder-mob">
              <video id="youtube-video-1" class="video-js vjs-default-skin vjs-big-play-centered youtube-video" controls
                preload="auto" data-setup='{ "fluid" : true }' width="100%"
                poster="{% static 'videos/youtube/snap/yt-1.png' %}">
                <source src="{% static 'videos/youtube/youtube1.mp4' %}" type="video/mp4" />
              </video>

            </div>
          </div>
          <div class="slide">
            <div class="Placeholder-mob">

              <video id="youtube-video-2" class="video-js vjs-default-skin vjs-big-play-centered youtube-video" controls
                preload="auto" data-setup='{ "fluid" : true }' width="100%"
                poster="{% static 'videos/youtube/snap/yt-1.png' %}">
                <source src="{% static 'videos/youtube/youtube2.mp4' %}" type="video/mp4" />
              </video>
            </div>
          </div>
          <div class="slide">
            <div class="Placeholder-mob">
              <video id="youtube-video-3" class="video-js vjs-default-skin vjs-big-play-centered youtube-video" controls
                preload="auto" data-setup='{ "fluid" : true }' width="100%"
                poster="{% static 'videos/youtube/snap/yt-1.png' %}">
                <source src="{% static 'videos/youtube/youtube3.mp4' %}" type="video/mp4" />
              </video>
            </div>
          </div>
          <!-- Additional slides can be added here -->
        </div>
        <button class="next">&gt;</button>
        <div class="slider-dots">
          <span class="dot active"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
    </div>








  </div>




  <div class="howitworks" id="HowItWorks">
    <img src="{% static 'assets/background/Ellipse 2.svg' %}" alt="" class="" />
    <img src="{% static 'assets/background/Ellipse 2.svg' %}" alt="" class="" />
    <img src="{% static 'assets/background/Ellipse 2.svg' %}" alt="" class="" />
    <img src="{% static 'assets/background/Ellipse 2.svg' %}" alt="" class="" />
    <img src="{% static 'assets/background/Ellipse 2.svg' %}" alt="" class="" />
    <div class="hiw-heading-text">
      How <span class="highlight">VideoCrafter<span style="font-size: 16px;">.io</span></span>
      <span style="color: #000000;">works:</span>
    </div>

    <div class="hiw-container">
      <!-- Step 1 -->
      <div class="hiw-element">
        <div class="hiw-element-text-container">
          <div class="hiw-element-heading">1. Pick Video Dimensions:</div>
          <div class="hiw-element-text">
            <i class="fa-solid fa-check" style="margin-right: 10px;"></i>
            Select the format that fits your platform:
          </div>
          <div class="dimensions-container">
            <div class="aspect-box">1:1</div>
            <div class="aspect-box">4:5</div>
            <div class="aspect-box">16:9</div>
            <div class="aspect-box tall">9:16</div>
          </div>
        </div>
        <div class="hiw-element-placeholder">
          <video id="step-video-1" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
            data-setup='{ "fluid" : true }' width="100%">
            <source src="{% static 'videos/home-video/steps/step-1.mp4' %}" type="video/mp4" />
          </video>
        </div>
        <div class="sep-border"></div>
      </div>


      <!-- Step 2 -->
      <div class="hiw-element">
        <div class="hiw-element-text-container">
          <div class="hiw-element-heading">2. Add AI Voiceover:</div>
          <div class="hiw-element-text">
            <i class="fa-solid fa-check" style="margin-right: 10px;"></i>
            Paste your API key and voice ID, and let AI create realistic, human-like voiceovers—no robotic
            tones here.
          </div>
        </div>
        <div class="hiw-element-placeholder">
          <video id="step-video-2" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
            data-setup='{ "fluid" : true }' width="100%">
            <source src="{% static 'videos/home-video/steps/step-2.mp4' %}" type="video/mp4" />
          </video>
        </div>
        <div class="sep-border"></div>

      </div>

      <!-- Step 3 -->
      <div class="hiw-element">
        <div class="hiw-element-text-container">
          <div class="hiw-element-heading">3. Upload Your Script:</div>
          <div class="hiw-element-text">
            <i class="fa-solid fa-check" style="margin-right: 10px;"></i>
            Simply upload your script, then highlight the words you want to pair with video clips.
          </div>
        </div>
        <div class="hiw-element-placeholder">
          <video id="step-video-3" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
            data-setup='{ "fluid" : true }' width="100%">
            <source src="{% static 'videos/home-video/steps/step-3.mp4' %}" type="video/mp4" />
          </video>
        </div>
        <div class="sep-border"></div>

      </div>

      <!-- Step 4 -->
      <div class="hiw-element">
        <div class="hiw-element-text-container">
          <div class="hiw-element-heading">4. Build Your Asset Library:</div>
          <div class="hiw-element-text">
            <i class="fa-solid fa-check" style="margin-right: 10px;"></i>
            Organize your clips into folders for easy reuse across multiple projects.
          </div>
        </div>
        <div class="hiw-element-placeholder">
          <video id="step-video-4" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
            data-setup='{ "fluid" : true }' width="100%">
            <source src="{% static 'videos/home-video/steps/step-4.mp4' %}" type="video/mp4" />
          </video>
        </div>
        <div class="sep-border"></div>

      </div>

      <!-- Step 5 -->
      <div class="hiw-element">
        <div class="hiw-element-text-container">
          <div class="hiw-element-heading">5. Match Clips To Script:</div>
          <div class="hiw-element-text">
            <i class="fa-solid fa-check" style="margin-right: 10px;"></i>
            Highlight text, select a clip, and let VideoCrafter handle cropping, syncing, and alignment.
          </div>
        </div>
        <div class="hiw-element-placeholder">
          <video id="step-video-5" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
            data-setup='{ "fluid" : true }' width="100%">
            <source src="{% static 'videos/home-video/steps/step-5.mp4' %}" type="video/mp4" />
          </video>
        </div>
        <div class="sep-border"></div>
      </div>

      <!-- Step 6 -->
      <div class="hiw-element">
        <div class="hiw-element-text-container">
          <div class="hiw-element-heading">6. Add Background Music:</div>
          <div class="hiw-element-text">
            <i class="fa-solid fa-check" style="margin-right: 10px;"></i>
            Upload your favorite MP3 tracks, set start/end points, and adjust volume for the perfect vibe.
          </div>
        </div>
        <div class="hiw-element-placeholder">
          <video id="step-video-6" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
            data-setup='{ "fluid" : true }' width="100%">
            <source src="{% static 'videos/home-video/steps/step-6.mp4' %}" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
    <!-- <div style="border-bottom: 1px solid #ccc; margin: 0 auto;margin-top: 40px;width: 800px;"></div> -->
  </div>


  <div class="portfolio main-eature-container" id="Portfolio">
    <div class="portfoliotext">
      <h2 class="marg">
        Why <span class="highlight">VideoCrafter.io</span><span style="text-transform: capitalize;"> beats any
          video Editor</span>
      </h2>
    </div>
    <div class="feature-container">
      <div class="feature-card">
        <div class="circle">1</div>
        <div class="circle-border"></div>
        <h3>Create Videos Fast</h3>
        <p>Stop Wasting Time On Complex Tools And Endless Revisions. With VideoCrafter.io, You Can Create
          Professional, Eye-Catching Videos In Record Time.</p>
      </div>
      <div class="feature-card">
        <div class="circle">2</div>
        <div class="circle-border"></div>
        <h3>No Missed Deadlines</h3>
        <p>Tired Of Freelancers Vanishing When You Need Them Most? VideoCrafter.io Puts YOU In Control.</p>
      </div>
      <div class="feature-card">
        <div class="circle">3</div>
        <div class="circle-border"></div>
        <h3>VA-Friendly</h3>
        <p>Unlock The Full Potential Of Your Team By Equipping Them With VideoCrafter.io. Empower Your Virtual
          Assistants (VAs) To Handle Video Creation At A Fraction Of The Cost.</p>
      </div>
      <div class="feature-card">
        <div class="circle">4</div>
        <div class="circle-border"></div>
        <h3>Control Your Ads</h3>
        <p>Stop Wasting Time On Complex Tools And Endless Revisions. With VideoCrafter.io, You Can Create
          Professional, Eye-Catching Videos In Record Time.</p>
      </div>
    </div>
    <div class="portfolio-bottom-text for-m ">
      <p class="for-marg-c" style="margin-bottom: 40px;">We Were Fed Up Relying On Editors Who Couldn't Keep Up,
        So We Created VideoCrafter.lo - A Tool That Puts
        You In Control.</p>
    </div>
    <div class="portfolio-border"></div>
  </div>

  <div class="tutorial-container" style="height: auto;">
    <h1 class="tutorial-title">
      <span class="title-bold">VideoCrafter</span>
      <span class="title-highlight">Tutorial</span>
    </h1>
    <p class="tutorial-description">
      In This Tutorial, We'll Walk You Through How To Use VideoCrafter.Io To Create
      High-Converting Video Sales Letters With Ease.
    </p>
    <div class="video-placeholder">
      <video id="tutorial-video" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
        data-setup='{ "fluid" : true }' width="100%" poster="{% static 'videos/home-video/intro-poster.png' %}">
        <source src="{% static 'videos/home-video/intro.mp4' %}" type="video/mp4" />
      </video>
    </div>
  </div>

  <div class="pricing" id="pricing">
    <div class="tutorial-border"></div>
    <div class="top">
      <p class="ptop-text">
        Pricing:
      </p>
      <p class="ptop-text-mobile">Plans that <span class="highlight">scale</span> with business</p>

      <p class="ptop-p">Simple. Transparent. Powerful.</p>
      <p class="ptop-p-mobile">Think about how much you’re currently paying your video editor. With VSLMaker.io,
        you can create VSLs in minutes, saving both time and money.</p>
    </div>

    <div class="middle">
      <div class="p-cards-grid">
        <div class="p-cards-grid-container">
          <div class="p-cards-grid-item">
            <span class="highlight g-head g-head-margin">Free Trial Plan</span>
            <div class="price">
              <span><span class="bold-size">Free</span></span>
              <br />
              <span class="price-promo">&nbsp;</span>
              <p class="under-free" style="margin-bottom: 0px;">Test The Waters Before You Commit.</p>
            </div>

            <div class="benefits">
              <img src="{% static 'assets/icons/check.svg' %}" alt="" />
              <span class="benefits-text">Create 1 Video Creative</span>
            </div>
            <div class="benefits">
              <img src="{% static 'assets/icons/check.svg' %}" alt="" />
              <span class="benefits-text">Upload and Match Video Clips</span>
            </div>
            <div class="benefits">
              <img src="{% static 'assets/icons/check.svg' %}" alt="" />
              <span class="benefits-text">No Credit Card Required</span>
            </div>

            <a href="/accounts/register/" class="p-button">Get Started</a>
          </div>

          <div class="p-cards-grid-item mid">
            <div class="mp">
              <span class="highlight g-head">Growth Plan</span>
              <span class="hype">Most Popular</span>
            </div>

            <div class="price">
              <span><span class="bold-size">$497</span> <span class="font"
                  style="color: rgba(0, 0, 0, 0.5); font-weight: bold;">/Month</span><span>
                  <br />
                  <span class="price-promo">Just $19.88 Per Video</span>
            </div>

            <div class="benefits">
              <img src="{% static 'assets/icons/check.svg' %}" alt="" />
              <span class="benefits-text">Create up to 25 Videos Per Month</span>
            </div>
            <div class="benefits">
              <img src="{% static 'assets/icons/check.svg' %}" alt="" />
              <span class="benefits-text">Full Access to All Tools</span>
            </div>
            <div class="benefits">
              <img src="{% static 'assets/icons/check.svg' %}" alt="" />
              <span class="benefits-text">Upload and Match Video Clips</span>
            </div>
            <div class="benefits">
              <img src="{% static 'assets/icons/check.svg' %}" alt="" />
              <span class="benefits-text">Organize and Reuse Clips</span>
            </div>
            <div class="benefits">
              <img src="{% static 'assets/icons/check.svg' %}" alt="" />
              <span class="benefits-text">Background Music Control</span>
            </div>
            <div class="benefits">
              <img src="{% static 'assets/icons/check.svg' %}" alt="" />
              <span class="benefits-text">Priority Support</span>
            </div>

            <a href="/accounts/subscribe/{{ price_ids.growth }}?success_path={% url 'accounts:register' %}&cancel_path={% url 'home:home' %}"
              class="p-button">Get Started</a>
          </div>

          <div class="p-cards-grid-item">
            <span class="highlight g-head g-head-margin">Pro Plan</span>
            <div class="price">
              <span><span class="bold-size">$997</span> <span class="font"
                  style="color: rgba(0, 0, 0, 0.5); font-weight: bold;">/Month</span><span>
                  <br />
                  <span class="price-promo">Just $16.62 Per Video</span>
            </div>

            <div class="benefits">
              <img src="{% static 'assets/icons/check.svg' %}" alt="" />
              <span class="benefits-text">Create Up To 60 Videos Per Month</span>
            </div>
            <div class="benefits">
              <img src="{% static 'assets/icons/check.svg' %}" alt="" />
              <span class="benefits-text">Everything in Growth Plan</span>
            </div>
            <div class="benefits">
              <img src="{% static 'assets/icons/check.svg' %}" alt="" />
              <span class="benefits-text">Upload and Match Video Clips</span>
            </div>
            <div class="benefits">
              <img src="{% static 'assets/icons/check.svg' %}" alt="" />
              <span class="benefits-text">Organize and Reuse Clips</span>
            </div>
            <div class="benefits">
              <img src="{% static 'assets/icons/check.svg' %}" alt="" />
              <span class="benefits-text">Background Music Control</span>
            </div>
            <div class="benefits">
              <img src="{% static 'assets/icons/check.svg' %}" alt="" />
              <span class="benefits-text">Advanced Clip Management</span>
            </div>
            <div class="benefits">
              <img src="{% static 'assets/icons/check.svg' %}" alt="" />
              <span class="benefits-text">Dedicated Support</span>
            </div>

            <a href="/accounts/subscribe/{{ price_ids.pro }}?success_path={% url 'accounts:register' %}&cancel_path={% url 'home:home' %}"
              class="p-button">Get Started</a>
          </div>

          <!-- <div class="bottom">
                        <div class="bottom-heading">All Plans Include</div>

                        <div class="more-benefits">
                            <div class="more-benefits-items">
                                <img src="{% static 'assets/icons/check.svg' %}" alt="" />
                                <span class="more-benefits-text">Ability to upload your own video clips and
                                    assets</span>
                            </div>
                            <div class="more-benefits-items">
                                <img src="{% static 'assets/icons/check.svg' %}" alt="" />
                                <span class="more-benefits-text">Customizable background music and timing</span>
                            </div>
                            <div class="more-benefits-items">
                                <img src="{% static 'assets/icons/check.svg' %}" alt="" />
                                <span class="more-benefits-text">Fast, easy, and intuitive interface</span>
                            </div>
                            <div class="more-benefits-items">
                                <img src="{% static 'assets/icons/check.svg' %}" alt="" />
                                <span class="more-benefits-text">No video editing skills required</span>
                            </div>
                        </div>
                    </div> -->
        </div>
      </div>
    </div>
  </div>


  <div class="cta" id="cta">
    <img src="{% static 'assets/background/Ellipse 2.svg' %}" alt="" class="cta-circle cc1" />

    <img src="{% static 'assets/background/Ellipse 2.svg' %}" alt="" class="cta-circle cc2" />

    <img src="{% static 'assets/background/Ellipse 2.svg' %}" alt="" class="cta-circle cc3" />
    <img src="{% static 'assets/background/Ellipse 2.svg' %}" alt="" class="cta-circle cc1" />
    <img src="{% static 'assets/background/Ellipse 2.svg' %}" alt="" class="cta-circle cc4" />
    <img src="{% static 'assets/background/Ellipse 2.svg' %}" alt="" class="cta-circle cc5" />
    <img src="{% static 'assets/background/Ellipse 2.svg' %}" alt="" class="cta-circle cc6" />
    <img src="{% static 'assets/background/Ellipse 2.svg' %}" alt="" class="cta-circle cc7" />
    <img src="{% static 'assets/background/Ellipse 2.svg' %}" alt="" class="cta-circle cc8" />

    <div class="cta-content-wrapper for-disp">
      <div class="cta-content">
        <span class="cta-text">Try VideoCrafter.io FREE
          <br />
          No Credit Card Required
          <br /></span>
        <a href="#pricing" class="cta-button">Sign Up for Free</a>
      </div>
      <p style="text-align: left;">Get hands-on with VideoCrafter.io and experience the speed and <br>simplicity
        for yourself. Stop waiting. Start
        creating.</p>
    </div>


    <div class="cta-main" style="background-color: white; z-index: 100;">
      <div class="cta-box">
        <h1>Try VideoCrafter.io FREE<br>No Credit Card Required</h1>
        <p style="margin: 0 auto;">Get hands-on with VideoCrafter.io and experience the speed and simplicity for
          yourself. Stop waiting.
          Start creating.</p>
      </div>
      <button class="cta-button">Get VideoCrafter Now</button>
    </div>
  </div>

  <div id="earning" class="earning-section">
    <h1 class="earning-title">
      Become a VideoCrafter.io Affiliate And
      <br />
      Earn 30% Recurring Commissions!
    </h1>

    <p class="earning-paragraph">
      Join the VideoCrafter.io affiliate program and start earning 30% recurring commissions on every customer you
      refer.
      Build a steady stream of passive income by helping others create high-converting
      Videos without relying on expensive editors!
    </p>

    <div class="cards-container">
      <div class="card">
        <span class="number">1</span>
        <p class="title">Sign Up</p>
        <p class="text">
          Click the sign-up button below to join our affiliate program and start earning commissions!
        </p>
      </div>

      <div class="card">
        <span class="number">2</span>
        <p class="title">Share Link</p>
        <p class="text">
          Promote VideoCrafter.io via your blog, website, or social media.
        </p>
      </div>

      <div class="card">
        <span class="number">3</span>
        <p class="title">Earn Commissions</p>
        <p class="text">
          Earn 30% of every payment made by your referred customers for as long as they stay with us.
        </p>
      </div>
    </div>
    <button>Sign Up Now</button>
  </div>

  <div class="contact-section-wrapper" id="contact">
    <div class="contact-section">
      <h1>Contact Us</h1>
      <p>We’d love to hear from you. Please fill out this form.</p>
      <form class="contact-form" id="contactForm" autocomplete="on">
        <div class="form-row">
          <div class="form-group">
            <label for="first-name">First name</label>
            <input type="text" id="first-name" name="first_name" placeholder="First name" autocomplete="given-name"
              required />
          </div>
          <div class="form-group">
            <label for="last-name">Last name</label>
            <input type="text" id="last-name" name="last_name" placeholder="Last name" autocomplete="family-name"
              required />
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="you@company.com" autocomplete="email" required />
        </div>

        <div class="form-group">
          <label for="message">Message</label>
          <textarea id="message" name="message" placeholder="" required></textarea>
        </div>

        <button type="submit">Send Message</button>
      </form>

    </div>
  </div>

  {% include "vlc/frontend/includes/footer.html" %}




  <script>
    var loader = document.getElementById("preloader")

    window.addEventListener("load", function () {
      loader.style.display = "none";
    })
  </script>

  <script>
    videojs('youtube-video-1');
    videojs('youtube-video-2');
    videojs('youtube-video-3');

    videojs('facebook-video-1');
    videojs('facebook-video-2');
    videojs('facebook-video-3');



    videojs('tiktok-video-1');
    videojs('tiktok-video-2');


    videojs('intro-video');


    videojs('step-video-1');
    videojs('step-video-2');
    videojs('step-video-3');
    videojs('step-video-4');
    videojs('step-video-5');
    videojs('step-video-6');


    videojs('tutorial-video');

  </script>


  <script>
    const hamburgerIcon = "{% static 'assets/icons/Hamburger.svg' %}";
    const xIcon = "{% static 'assets/icons/x.svg' %}";

    function toggleMenu() {
      const topbar = document.getElementById("topbar");
      const hamburger = document.getElementById("hamburger");

      const open = topbar.style.top === "0px";

      if (open) {
        topbar.style.top = "-497px";
        hamburger.src = "{% static 'assets/icons/Hamburger.svg' %}";
      } else {
        topbar.style.top = "0";
        hamburger.src = "{% static 'assets/icons/x.svg' %}";
      }
    }

    hamburger.addEventListener("click", () => {
      toggleMenu();
    });

    document.getElementById('contactForm').addEventListener('submit', function (event) {
      event.preventDefault();

      const formData = new FormData(this);

      fetch('accounts/contact/', {
        method: 'POST',
        body: formData,
        headers: {
          'X-CSRFToken': '{{ csrf_token }}',
        },
      })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            alert(data.message);
            this.reset();
          } else {
            alert(data.message);
          }
        })
        .catch(error => console.error('Error:', error));
    });
  </script>

  <script>
    function initializeSlider(sliderClass) {
      const slider = document.querySelector(sliderClass);
      const slides = slider.querySelectorAll(".slide");
      const dots = slider.querySelectorAll(".dot");
      const prevButton = slider.querySelector(".prev");
      const nextButton = slider.querySelector(".next");
      let currentIndex = 0;

      function showSlide(index) {
        if (index < 0) {
          index = slides.length - 1;
        } else if (index >= slides.length) {
          index = 0;
        }

        currentIndex = index;
        const offset = -currentIndex * 100;
        slider.querySelector(".slides").style.transform = `translateX(${offset}%)`;
        dots.forEach((dot, i) => {
          dot.classList.toggle("active", i === currentIndex);
        });
      }

      dots.forEach((dot, index) => {
        dot.addEventListener("click", () => {
          showSlide(index);
        });
      });

      prevButton.addEventListener("click", () => {
        showSlide(currentIndex - 1);
      });

      nextButton.addEventListener("click", () => {
        showSlide(currentIndex + 1);
      });

      // Automatically cycle through slides
      // setInterval(() => {
      //   showSlide(currentIndex + 1);
      // }, 3000); // Change every 3 seconds
    }

    // Initialize each slider individually
    initializeSlider(".tiktok-slider");
    initializeSlider(".facebook-slider");
    initializeSlider(".youtube-slider");
  </script>

</body>

</html>